astroid
beautifulsoup4
cachelib
certifi
chardet
click
cssselect
feedfinder2
feedparser
Flask
Flask-Session
gunicorn
html2text
idna
isort
itsdangerous
jieba3k
Jinja2
joblib
lazy-object-proxy
lxml
MarkupSafe
mccabe
newspaper3k
nltk
Pillow
pylint
python-dateutil
PyYAML
regex
requests
requests-file
six
soupsieve
tinysegmenter
tldextract
toml
tqdm
typed-ast
urllib3
Werkzeug
wrapt
lxml_html_clean  